<!--
//LAU Kwan Kit
//301256503
//January 2023
-->

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-darkblue">
      <h6 class="display-6 navbar-text">Kelvin Lau's assignment site.</h6>
    </nav>
  </footer>