<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">LAU Kwan Kit (Kelvin)</h1>
      <div style="display: flex">
        <div style="left: 0; width: 30%" >
          <img src="/Assets/images/me.png" style="width: 100%"/>
        </div>
        <div style="right: 0; width: 70%" >
          <ul style="margin: 5%">
            <li>Active Registered Polysomnographic Technologist of more than 10+ years experience.</li>
            <li>Self taught programmer in modern web development:- javascript, python and R.</li>
            <li>Curernt big data programmer in healthcare research and COVID.</li>
            <li>Main tools lately: python, postgreSQL, R, SAS, OHDSI, redhat.</li>
            <li><a href="/Assets/pdf/cv.pdf">Resume</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




