<!--

  //LAU Kwan Kit
//301256503
//January 2023
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
    <!-- change all time git -->
    <!-- how to git https://stackoverflow.com/questions/1221840/remote-origin-already-exists-on-git-push-to-a-new-repository -->

  <!-- Main Content -->
  <div class="main">
    <div class="asunabgimage"></div>
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Kelvin's page!</h1>
        <br/>
        <h2> Please visit the following pages!</h2>
        <a href="/about"> About me </a>, <a href="/contact"> Contacts</a>
        <br/>
        <br/>
        <h2>My Mission Statement</h2>
        <div>To make a better world to live, for everyone.</div>
      </div>
    </main>
  </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




