<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Kelvin's Projects</h1>
      <br /> <br />
      <!-- project item -->
      <div style="display: flex">
        <div style="left: 0; width: 30%" >
          <img src="/Assets/images/smallgets.png" style="width: 100%"/>
        </div>
        <div style="right: 0; width: 70%" >
          <ul style="margin: 5%">
            <li>Small gadgets project learned from online courses.</li>
            <li><a href="https://lofung.github.io/40_00_auto-repository-list/">Link</a></li>
          </ul>
        </div>
      </div>
      <!-- project item -->
      <br /> <br />
      <!-- project item -->
      <div style="display: flex">
        <div style="left: 0; width: 30%" >
          <img src="/Assets/images/clinicallogin.png" style="width: 100%"/>
        </div>
        <div style="right: 0; width: 70%" >
          <ul style="margin: 5%">
            <li>Clinical login system which is used in HKU Department of Medicine internally.</li>
            <li>For easy use in roster amendment and generating statistics reports.</li>
            <li><a href="https://time-table-scorer1.herokuapp.com/auth/login">Link</a></li>
          </ul>
        </div>
      </div>
      <!-- project item -->
      <br /> <br />
      <!-- project item -->
      <div style="display: flex">
        <div style="left: 0; width: 30%" >
          <img src="/Assets/images/questionnaire.png" style="width: 100%"/>
        </div>
        <div style="right: 0; width: 70%" >
          <ul style="margin: 5%">
            <li>Questionnaire System that was asked in one of my first job interviews.</li>
            <li>The employer was asking to finish the project as much as possible, even if it is not finished, for demo.</li>
            <li>The current framework was finished within 35 hours, despite it is quite unfinished.</li>
            <li><a href="https://warm-lake-91942.herokuapp.com/">Link</a></li>
          </ul>
        </div>
      </div>
      <!-- project item -->
      

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




