<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Kelvin's Services</h1>
      <br /> <br />
      <!-- project item -->
      <div style="display: flex">
        <div style="left: 0; width: 30%" >
          <img src="/Assets/images/coding.png" style="width: 100%"/>
        </div>
        <div style="right: 0; width: 70%" >
          <ul>
            <li>Web development</li>
            <li>General programming and automation</li>
            <li>Big data engineering, maniplation, and analyses</li>
            <li>Machine learning and academic statistics</li>
            <li>General IT support and server/network management</li>
          </ul>
        </div>
      </div>
      <!-- project item -->
      <br /> <br />
      <!-- project item -->
      <div style="display: flex">
        <div style="left: 0; width: 30%" >
          <img src="/Assets/images/Sleep.png" style="width: 100%"/>
        </div>
        <div style="right: 0; width: 70%" >
          <ul>
            <li>On-site patient management</li>
            <li>PSG (sleep report) intepretation (for medical instituites and patient's individual consultation over doctor's decision).</li>
            <li>Consultation over development of new gadgets for sleep medicine</li>
          </ul>
        </div>
      </div>
      <!-- project item -->
      <br /> <br />
      <a href="/contact">Contact me.</a>
      

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




